@import "tailwindcss";

body,
html {
  scroll-behavior: smooth;

  font-family: 'Bitter', 'Times New Roman', Times, serif;
}

body,
p {
  font-family: 'Bitter', 'Times New Roman', Times, serif;
}

h1,
h2,
h3 {
  font-family: 'Clarkson",Helvetica,sans-serif';
  text-transform: uppercase;
  letter-spacing: 1px;
}

.btn-attention {
  @apply text-white px-2 py-1;
}