@import "tailwindcss";

body, html{
    scroll-behavior: smooth;

}

body, p {
  font-family: 'Inter', sans-serif;
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.btn-attention {
  @apply  text-white px-2 py-1 ;
}

